/* Wrapper */
.navbar {
  position: fixed;
  left: 0;
  top: 1.5rem;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease;
}

.navbar-scrolled {
  top: 0;
  background: rgba(4, 10, 36, 0.9);
  backdrop-filter: blur(10px);
}

/* Inner flex */
.navbar-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

/* Desktop nav */
.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 2.5rem;
    font-family: "Allerta Stencil", sans-serif;
  }
}

.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  letter-spacing: 0.7px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #91f2f9;
}


.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 0%;
  background: #91f2f9;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Hamburger button */
.menu-toggle {
  margin-left: auto;
  margin-right: 1.5rem;
  font-size: 1.8rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  transition: transform 0.3s ease, color 0.3s ease;
  z-index: 50;
  position: relative;
}

.menu-toggle:hover {
  transform: scale(1.1);
  color: #91f2f9;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 35vw;
  max-width: 320px;
  border-radius: 20px;
  padding: 6rem 2rem 2rem;
  background: #03001c;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 40;
  border-left: 4px solid rgba(145, 242, 249, 0.473);
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-link {
  color: white;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 1rem 0;
}

.mobile-link:last-child {
  border-bottom: none;
}

.mobile-link:hover,
.mobile-link:active {
  color: #91f2f9;
  padding-left: 0.75rem;
}

