.projects{
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 1320px;
   max-width: 1320px;
  margin: 0 auto;
  flex-wrap: wrap;
  background: #03001C;
}

h2{
  font-size: clamp(1rem, 3vw, 3rem);
  margin-bottom: 1rem;
  color: ;
  font-family: "Bungee Shade", sans-serif;
}